<!DOCTYPE html>
<![if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]>
<![if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]>
<![if IE 8]>         <html class="no-js lt-ie9" lang="en-US"> <![endif]>
<![if gt IE 8] >      <html class="no-js" lang="en-US"> <![endif]>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Institution Account Verification One Time Passcode</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
            <h1 style="text-align: center;">Your OTP Code</h1>
            <p style="text-align: center;">Your One-Time Passcode (OTP) is: <strong>{{ otpCode }}</strong></p>
            <p style="text-align: center;">Please enter this code within {{ expirationTime }} minutes.</p>
          </div>
        
        <script src="" async defer></script>
    </body>
</html>